<div class="container">
    <aside class="pull-right">
        @Html.Partial("Partials/_ResultNotifications")
    </aside>
    <h1>@ViewBag.Title</h1>

    <div class="jumbotron">
        <h1>Welcome to Agency Address Book</h1>
        <p>
            Agency Address Book (AAB) is a small address book web application where you can add
            <strong>brokers and their clients.</strong> 
        </p>
        <p>AAA is a full-stack technology based on ASP.NET MVC C# with Bootstrap, JavaScript, jQuery, CSS, and HTML. It has a clean design based on Google's Material Design.</p>
        <p>Developer: John Vicencio, <a href="https://johnvicencio.com" target="_blank">johnvicencio.com</a></p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://github.com/johnvicencio/The-Tech-Academy-Projects/tree/master/Csharp/FinalProject/AgencyAddressBook" target="_blank">GitHub</a>
            <a class="btn btn-success btn-lg pull-right" href="/broker">Search Broker</a>
            <br /><br />
        </p>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Total Sign-Ups</h3>
                </div>
                <div class="panel-body">
                    1,0000,000
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Total Users Online</h3>
                </div>
                <div class="panel-body">
                    3
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Goal vs. Production</h3>
                </div>
                <div class="panel-body">
                    $10billion / $3billion (in paid premium)
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Notification</h3>
                </div>
                <div class="panel-body">
                    <p>
                        Date and time entered are based on UTC (GMT). The date and time displayed are on local time.
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
