@model FirstChallenge.Models.ComicBook
@{
    var title = String.Format("Details About {0} #{1}", Model.ComicTitle, Model.EpisodeNumber);
    ViewBag.Title = title;
}

<h2>@title</h2>
<h4>Episode Title: @Model.EpisodeTitle</h4>

@{
    var characters = Model.Characters.Select(p => p.Name).ToArray();
    var charactersString = String.Join(", ", characters);
}

<p><strong>Starring: </strong> @charactersString</p>
<hr />

