@model List<FirstChallenge.Models.ComicBook>
@{
    ViewBag.Title = "My Comics";
}

<h2>My Comics</h2>


@foreach (var comic in Model)
{
    <h3>@Html.ActionLink(comic.ComicTitle, "Detail", new { id = comic.ComicBookId })</h3>
    <h4>#@comic.EpisodeNumber - @comic.EpisodeTitle</h4>

    var characters = comic.Characters.Select(p => p.Name).ToArray();
    var charactersString = String.Join(", ", characters);
    <p><strong>Starring: </strong> @charactersString</p>

}

